#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #888;
}

.Main-logo {
  margin: 0;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.Main-logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

ul {
  list-style: none;
  padding: 70px 30px;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

li {
  display: inline;
}

nav {
  display: flex;
  background-color: white;
  justify-content: right;
}

.wrapper{
  margin: 0 auto;
  max-width: 1200px;
}

.SpotCard {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.SpotCard:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%; /* Make the image fill the width of the card */
  max-height: 200px; /* Set a maximum height for the image */
  object-fit: cover; /* Ensure the image covers the entire container */
  border-bottom: 1px solid #ddd; /* Add a border at the bottom of the image */
}

.read-the-docs {
  color: #888;
}


